<h2 class="mb-3">Login</h2>

<form action="/auth/login" method="POST" class="mb-3">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input required type="email" class="form-control" id="email" name="email">
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input required type="password" class="form-control" id="password" name="password">
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
</form>

<hr>

<p>Or sign in with:</p>
<a class="btn btn-dark me-2 mb-2" href="/auth/github">GitHub</a>
<a class="btn btn-danger mb-2" href="/auth/google">Google</a>
